/*
sintaxis css
selector {
    declaracion;
    propiedad: valor;
}
*/

/*para toda la pagina se utiliza el * */
* {
  color: rgb(3, 59, 41);
  font-size: medium;
  background-color: rgb(241, 229, 211);
}
body {
  margin: 0px auto;
}
header {
  background: aqua;
  width: 98%;
  padding: 10px;
  margin: 5px 5px;
  display: inline-block;
}
header h1 {
  font-size: x-large;
  background: aqua;
  color: black;
  text-align: center;
  float: left;
}
header figure {
  height: 50px;
  width: 50px;
  object-fit: contain;
  float: left;
}
.logo {
  height: 50px;
  width: 50px;
}
